@media only screen and (max-width:2160px){
    .grid{
        justify-content: space-evenly;
    }
    #description{
        top: 94%;
        left: 20%;
        width: 50%;
    }
    #poster{
        top: 12%;
        right: 83%;
    }
    #description > p {
        font-size: 20px;
    }
}
@media only screen and (max-width:1400px){
    .grid{
        justify-content: space-between;
    }
}
@media only screen and (max-width:1280px){
    #description{
        top: 87%;
        left: 20%;
        width: 70%;
    }
    #poster{
        top: 13%;
        right: 83%;
    }
    #description > p {
        font-size: 18px;
    }
}
@media only screen and (max-width:890px){
    #nav-UL{
        display: none;
    }
    #hamBurger{
        display: block;
    }
}

/* page 2 */
@media only screen and (max-width:950px){
    .deBS{
        margin-top: 15px;
    }
}
@media only screen and (max-width:610px){
    #img1x{
        height: 65vh;
        width: 100%;
    }
    #cont{
        text-align: center;
        color: white;
        flex-basis: 100%;
    }
    .deBS{
        margin-top: 0px;
    }
    #cont>p{
        text-align: center;
    }
    #desButtonsS{
        justify-content: space-around;
        align-items: center;
        margin: 10px 40px 0px 40px;
    }
}
@media only screen and (max-width:476px){
    .deBS{
        margin-top: 15px;
    }
}
@media only screen and (max-width:440px){
    #cont > h1{
        font-size: 40px;
    }
}
@media only screen and (max-width:350px){
    #cont > h1{
        font-size: 30px;
    }
    #cont > p{
        font-size: 15px;
    }
}

/* page 2 */
@media only screen and (max-width:770px){
    .grid{
        justify-content: space-around;
    }
    #firstSection{
        height: 84vh;
        margin-top: 100px;
    }
    #tab{
        display: block;
    }
    #overflownImage{
        display: none;
    }
    #desButtonsTAB{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .deBTAB{
        border: 1px solid white;
        display: block;
        border-radius: 3px;
        width: 50%;
        padding: 3px 15px;
        font-size: 25px;
        margin-top: 20px;
        font-weight: 300;
        cursor: pointer;
    }
    #watchButtonTAB{
        background-color: #2684FE;
        padding: 3px 15px;
        width: 50%;
        font-size: 25px;
        border-radius: 3px;
        font-weight: 300;
        transition: all 0.2s;
        display: block;
        cursor: pointer;
    }
    #hamBurger{
        right: 10%;
    }
}
@media only screen and (max-width:480px){
    .hiddenDesBoxMovie{
        width: 75%;
    }
    .plMovie{
        font-size: 20px;
        margin-left: 10px;
    }
    .titleMovie{
        width: 50%;
        font-size: 15px;
        line-height: 2.0;
        margin-left: 20px;
    }
    .addMovie{
        width: 20%;
        font-size: 15px;
        line-height: 2.0;
    }
    #desButtonsTAB{
        margin-top: 20px;
        justify-content: space-evenly;
    }
    #descriptionTAB > h1{
        font-size: 37px;
    }
    .deBTAB{
        width: 60%;
    }
    #watchButtonTAB{
        width: 60%;
    }
    #hamBurger{
        right: 12%;
    }
}
@media only screen and (max-width:414px){
    .section > h2{
        font-size: 28px;
    }
    .hiddenDesBoxMovie{
        width: 90%;
    }
    .thumbnail, .enclosure{
        width: 230px;
        height: 170px;
    }
    #descriptionTAB > h1{
        font-size: 30px;
    }
    #descriptionTAB > p{
        font-size: 12px;
    }
    #posterTAB{
        width: 65%;
        height: auto;
    }
    .deBTAB{
        width: 80%;
        font-size: 20px;
        margin-top: 10px;
    }
    #watchButtonTAB{
        width: 80%;
        font-size: 20px;
    }
    #firstSection{
        height: 93vh;
    }
    #hamBurger{
        right: 15%;
    }
}
@media only screen and (max-width:375px){
    #descriptionTAB > h1{
        font-size: 25px;
    }
    #firstSection{
        height: 100vh;
    }
}
@media only screen and (max-width:320px){
    #descriptionTAB > h1{
        font-size: 20px;
    }
    #descriptionTAB > p{
        font-size: 10px;
    }
    .deBTAB{
        width: 80%;
        font-size: 15px;
        margin-top: 10px;
    }
    #watchButtonTAB{
        width: 80%;
        font-size: 15px;
    }
}