*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Poppins";
    background-color: #152535;
}

/* navbar */

nav{
    background-color: #203345;
    padding: 10px 40px 0px 40px;
}
#nav-UL {
    float: right;
}
#nav-UL> li{
    display: inline-block;
    font-size: 20px;
}
#nav-UL > li > a {
    text-decoration: none;
    color: white;
    padding: 10px;
}
#nav-UL > li > form {
    display: inline-block;

}
#searchBar > input {
    background-color: transparent;
    padding: 8px 7px;
    border-color: transparent;
}
#searchBar > button{
    background-color: transparent;
    padding: 8px 7px;
    border-color: transparent;
    color: white;
}
#searchBar{
    background-color: #455662;
    border-radius: 7px;
    margin-right: 10px;
}
#user{
    padding: 2px 0 0 0;
}

/* overflown Image */

#firstSection{
    height: 85vh;
}

#overflownImage{
    float: right;
    position: relative;
}
#img1{
    height: 65vh;
    width: 150vh;
    background-image: linear-gradient(to right, rgb(21,37,53,1),rgb(255,255,255,0.2),rgb(255,255,255,0),rgb(255,255,255,0),rgb(255,255,255,0)), url('/assets/overflownimage.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#playButton{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10;
    color: white;
    font-size: 70px;
    opacity: 0.8;
}
#poster{
    border-radius: 5px;
    box-shadow: 1px 2px 8px 0px #161616;
    width: 33%;
    height: auto;
    z-index: 9;
    position: absolute;
    top: 12%;
    right: 97%;
}
#description{
    position: absolute;
    top: 89%;
    left: 8%;
    width: 70%;
    z-index: 10;
    color: white;
}
#description > h1{
    font-size: 50px;
    font-family: 'Josefin Sans';
}
#description > span {
    margin-top: 12px;
    font-size: 15px;
    color: grey;
}
#desButtons{
    margin-top: 10px;
}
#watchButton{
    background-color: #2684FE;
    padding: 3px 15px;
    font-size: 22px;
    border-radius: 3px;
    font-weight: 300;
}
.deB{
    border: 1px solid white;
    border-radius: 3px;
    padding: 2px 15px;
    font-size: 22px;
    margin-left: 10px;
    font-weight: 300;
}

/* section */
section{
    padding: 0 75px;
    color: white;
}

.section > h2{
    font-weight: 700;
    font-family: "Josefin Sans";
    font-size: 30px;
    margin-top: 30px;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: space-evenly;
}

.thumbnail{
    width: 250px;
    height: 170px;
    border-radius: 3px;
    margin: 5px 0;
}


.langBox{
    width: 130px;
    height: 140px;
    border-radius: 3px;
    margin: 5px 0;
    position: relative;
    box-shadow: 1px 2px 8px rgb(19, 18, 18);
}

.lg1{
    background: linear-gradient(to bottom, rgba(224, 221, 32, 0.904),rgba(224, 110, 43, 0.966));
}
.lg2{
    background: linear-gradient(to bottom, rgba(194, 240, 66, 0.904),rgba(43, 224, 124, 0.966));
}
.lg3{
    background: linear-gradient(to bottom, rgba(32, 224, 128, 0.904),rgba(28, 138, 211, 0.966));
}
.lg4{
    background: linear-gradient(to bottom, rgba(147, 32, 224, 0.904),rgba(224, 43, 103, 0.966));
}
.lg5{
    background: linear-gradient(to bottom, rgba(224, 32, 32, 0.904),rgba(46, 21, 6, 0.966));
}
.lg6{
    background: linear-gradient(to bottom, rgba(224, 157, 32, 0.904),rgba(43, 224, 215, 0.966));
}
.lg7{
    background: linear-gradient(to bottom, rgba(224, 32, 32, 0.904),rgba(224, 212, 43, 0.966));
}

.langBox> h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: 'Josefin Sans';
    font-size: 50px;
}

.lang{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%,0);
    z-index: 2;
    font-weight: 700;
}

#topRated{
    margin-top: 20px;
    width: 100%;
    height: 60vh;
}

#seemore{
    margin-top: 30px;
    width: 100%;
    background-color: #203345;
    color: grey;
    text-align: center;
    padding: 5px 0;
    border-radius: 3px;
}

/* FOOTER */

footer{
    margin-top: 50px;
    width: 100%;
    background-color: #203345;
    color: grey;
    height: 40vh;
    font-size: 30px;
}

#icons{
    width: 100%;
    text-align: center;
}

#icons>ul>li{
    display: inline-block;
}

#icons > ul >li > a{
    color: grey;
    margin: 10px 5px 10px 5px;
}